
.container{

width: 100%;

}
.navbar-default{

background: #B0BEC5;
border-radius: 8px;


}



.dropdown-menu{

background: lightgray;


}

.btn-primary{

background: lightgray;
color: black;

    
}

.btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: ghostwhite;
   
   
}


.navbar-nav a{
  color:black !important;
  font-size: 20px;
}


.navbar-text{

  color:black !important;
  font-size: 20px;

}

.logo{

max-width: 15%;
max-height: 15%;
float: left;

}
#auction-list {
    border: solid black;
}
.auction-img {
    height: 100px;
    width: 100px;
}
#auctionTable {
    border: solid black;
}
.bilder {
    height: 180px;
    width: 180px;
    border-radius: 7px;
}
.row {
    padding-top: 25px;
}
.col-sm-4 {
    margin-bottom: 10px;
}
#loggedin{
  color:mediumseagreen;
  font-weight: bold;
}
#logout{
  color: red;
}

.well-lg{

width: 30%;
background-color: ghostwhite;

}
#bidForm {
    width: 25%;
}

body{

font-family: Arial, Helvetica, sans-serif;


}



