#auction-list {
    border: solid black;
}
.auction-img {
    height: 100px;
    width: 100px;
}
#auctionTable {
    border: solid black;
}
.bilder {
    height: 140px;
    width: 140px;
    border-radius: 7px;
}
.row {
    padding-top: 25px;
}
.col-sm-4 {
    margin-bottom: 10px;
}
#loggedin{
  color:limegreen;
  font-weight: bold;
}
#logout{
  color: red;
}

.well-lg{

width: 30%;
background-color: ghostwhite;

}

