<div class="container" ng-controller="adminController">

    <h1> Avslutade auktioner </h1>
        <div class="container">
            <div class="row">
                <div ng-repeat="auction in completedAuctions">
                    <div class="clearfix" ng-if="$index % 3 == 0"></div>
                    <div class="col-sm-4">
                        <img class="bilder" ng-src="{{ auction.imageUrl }}" alt="Bild på auktioner">
                        <p>{{ "Objekt: " + auction.name }}</p>
                        <p>{{ "Leverantör: " + auction.supplierName }}</p>
                        <p>{{ "Slutbud: " + auction.highestBid }}</p>
                        <p>{{ "Provisionsandel: " + auction.commissionRate * 100 + "%"}}</p>
                        <p>{{ "Provision: " + auction.commission }}</p>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="makeSalesMonths()" class="btn btn-primary">Beräkna</button>
</div>

