<div class="container" ng-controller="adminController">

    {{getCompletedAuctions()}}
 
        <div class="container">
            <div class="row">
                <div ng-repeat="auction in completedAuctions">
                    <div class="clearfix" ng-if="$index % 3 == 0"></div>
                    <div class="col-sm-4">
                        <img class="bilder" ng-src="{{ auction.imageUrl }}" alt="Bild på auktioner">
                        <p>{{ "Objekt: " + auction.name }}</p>
                        <p>{{ "Leverantör: " + auction.supplierName }}</p>
                        <p>{{ "Provision: " + auction.commission }}</p>
                    </div>
                </div>
            </div>
        </div>

</div>

