<div class="row">
    <div class="col-md-12">

        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Info</th>
                    <th>Beskrivning</th>
                    <th>Startdatum</th>
                    <th>Slutdatum</th>



                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img ng-src="{{ auction.imageUrl }}" class="bilder"></td>
                    <td>{{ auction.name }}</td>
                    <td>{{ auction.description }}</td>
                    <td>{{ auction.startTime | date :'yyyy-mm-dd' }}</td>
                    <td>{{ auction.endTime | date :'yyyy-mm-dd'}}</td>





                </tr>
            </tbody>
        </table>


        <div>
            <h5>Acceptpris: {{ auction.buyNowPrice | currency:"SEK":0 }}</h5>
        </div>
        <form class="form-inline" name="bidForm">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" id="exampleInputAmount" placeholder="Belopp" ng-model="bid.placeBid">

                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-sm" ng-click="bidClicked(bidForm);updateBidHistory()">Lägg bud</button> <button style="margin-left: 5px;" type="submit" class="btn btn-primary btn-sm" ng-click="buyNowClicked()" >Köp nu</button>
        </form>
        <h4>{{text}}</h4>
        <h4>Högsta bud: {{highestBid | currency:"SEK":0 }}</h4>
        

        <hr>
        <h5>Budhistorik</h5>
        <button type="button" class="btn btn-warning" ng-click="isCollapsedBid = !isCollapsedBid"><span class="glyphicon glyphicon-bullhorn"></span></button>
        <hr>
        <div uib-collapse="isCollapsedBid">
            <div class="well well-lg">
                <table>
                    <tbody ng-repeat="bid in bids" >
                       <div class="bidHistory" >
                        <tr>
                            <td><strong> Datum:</strong> {{bid.dateTime | date :'yyyy-mm-dd' }}</td>
                        </tr>
                        <tr>
                            <td><strong> Bud:</strong> {{bid.bidPrice}}</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <h5>Leverantör</h5>
        <button type="button" class="btn btn-info" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-user"></span></button>
        <hr>
        <div uib-collapse="isCollapsed">
            <div class="well well-lg">
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Företagsnamn:</strong> {{supplier.companyName}}</td>
                        </tr>
                        <tr>
                            <td><strong> Email:</strong> {{supplier.email}}</td>
                            <tr>
                                <td><strong> Telefon:</strong> {{supplier.phone}}</td>
                            </tr>
                            <tr>
                                <td><strong> Adress:</strong> {{supplier.address}}</td>
                            </tr>
                            <tr>
                                <td> <strong> Postnummer:</strong> {{supplier.postalCode}}</td>
                            </tr>
                            <tr>
                                <td> <strong> Stad:</strong> {{supplier.city}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>