<div class="container" ng-controller="auctionController">
    <div class="col-sm-2">
    
    </div>
    <table class="table table-hover" ng-repeat="auction in auctions | filter: auction" id="auctionTabel" ng-click="auctionClicked(auction.id)">
        <thead>
            <tr>
                <th> <img ng-src="{{ auction.imageUrl }}" class="auction-img">  </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>{{ auction.name}}</p>
                    <p>{{ auction.buyNowPrice}} Kr</p>
                </td>
            </tr>
        </tbody>

    </table>
<div>